---
import BlogPosts from '../components/BlogPosts.astro'
import { getAllPosts } from '../components/posts.astro'
import Layout from '../layouts/Layout.astro'

const allPostsData = await getAllPosts()
---

<Layout home>
  <section
    class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal"
    style="font-family: Georgia,serif"
  >
    <p>
      My name is{' '}
      <a href="/contacts" class="text-gray-900">Yaroslav Lapin</a>, I do things
      on the internet. There’re few outdated pages about me and now I'm adding
      one more!
    </p>
  </section>
  <BlogPosts allPostsData={allPostsData} />
  <div class="py-6"></div>
</Layout>
