---
import BlogPosts from '../components/BlogPosts.astro'
import { getAllPosts } from '../components/posts.astro'
import Layout, { siteTitle } from '../layouts/Layout.astro'

const allPostsData = await getAllPosts()
---

<Layout title={siteTitle + ' > Blog'}>
  <BlogPosts allPostsData={allPostsData} />
  <div class="py-6"></div>
</Layout>
