---
import BlogPosts from '../components/BlogPosts.astro'
import Layout, { siteTitle } from '../layouts/Layout.astro'
import { PostMeta } from '../lib/types'
const posts = await Astro.glob('../pages/posts/*.md')
const allPostsData = posts.map((x) => {
  const meta = x.frontmatter as PostMeta
  if (!x.url) {
    throw new Error(`No url found for ${x.file}`)
  }
  return { ...meta, url: x.url }
})
---

<Layout title={siteTitle + ' > Blog'}>
  <BlogPosts allPostsData={allPostsData} />
  <div class="py-6"></div>
</Layout>
