---
export interface Props {
  href: string
}

const { href } = Astro.props as Props
const url = new URL(Astro.request.url)
const active = url.pathname === href
---

<a
  href={href}
  class={(active
    ? 'text-gray-900 font-bold hover:text-black'
    : 'text-gray-600 hover:text-gray-900') +
  ' inline-block py-2 px-4 no-underline hover:no-underline'}
>
  <slot />
</a>
