---
import '../styles/posts.css'
import Layout from './Layout.astro'
import { PostMeta } from '../lib/types'

export interface Props {
  content: PostMeta
}

const { content } = Astro.props as Props
const tags = []
---

<Layout>
  <article>
    <h1>
      {content.title}
    </h1>
    <div class='blog-content'>
      <slot></slot>
    </div>
  </article>
</Layout>
